
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"> <span class="glyphicon glyphicon-cog"></span>网站设置</div>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item"><span class="glyphicon glyphicon-home"></span>  @Html.ActionLink("基本信息", "SiteConfig", "Config")</div>
        </div>
    </div>
</div>
